body
{
	background-color: white;
}

nav 
{
	position: fixed;
	padding: 0;
	width: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	z-index: 1000;
}
ul
{
	color: white;
	z-index: 3;
}
.thumbnail
{
	position: absolute;
	left: 500px;
	top: 300px;
	z-index: 50;
}
.thumbnail2
{
	position: absolute;
	left: -10px;
	top: 200px;
	z-index: 50;
}

.class1
{
	z-index: 2;
}
a 
{
	color: white;
}
ul > li
{
	position: relative;
	display: inline-block;
}
.aktivni_polozka
{
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	padding: 20px;
	border: 1px solid #777;
	
}
.aktivni_polozka:hover
{
	background-color: #777;
}
.neaktivni_polozka
{
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	padding: 20px;
	border: 1px solid #777;
}
.neaktivni_polozka:hover
{
	background-color: #777;
}
.neaktivni2_polozka
{
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	padding: 20px;
	border: 1px solid #777;
}
.neaktivni2_polozka:hover
{
	background-color: #777;
}
.neaktivni3_polozka
{
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	padding: 20px;
	border: 1px solid #777;
}
.neaktivni3_polozka:hover
{
	background-color: #777;
}
.neaktivni4_polozka
{
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	padding: 20px;
	border: 1px solid #777;
	
}
.neaktivni4_polozka:hover
{
	background-color: #777;
}
.neaktivni5_polozka
{
	background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
	padding: 20px;
	border: 1px solid #777;
	
}
.neaktivni5_polozka:hover
{
	background-color: #777;
}

#rectanglesoykalogo
{
	position: absolute;
	width: 280px;
    height: 960px;
	left: 25px;
	top: 230px;
    background: black;
	z-index: 5;
	border: 1px solid #777;
}
#rectanglesoykalogo2
{
	position: relative;
	width: 320px;
    height: 1000px;
	top: 145px;
    background:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	z-index: -5;
	border: 1px solid #777;
}
#rectangleclanek1
{
	position: absolute;
	width: 800px;
	height: 440px;
	top: 150px;
	left: 500px;
	background:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	z-index: 60;
	border: 1px solid #777;
}
#rectangleclanek2
{
	position: absolute;
	width: 760px;
	height: 400px;
	top: 170px;
	left: 520px;
	background-color: black;
	z-index: 60;
	border: 1px solid #777;
}
.textuvod1
{
	font-family: Fantasy;
	position: relative;
	z-index: 70;
	color: white;
	top: -700px;
	left: 560px;
}
.textuvod2
{
	font-family: Fantasy;
	position: relative;
	z-index: 70;
	color: white;
	top: -690px;
	left: 620px;
}
.textuvod3
{
	font-family: Fantasy;
	position: relative;
	z-index: 70;
	color: white;
	top: -680px;
	left: 555px;
}
.textuvod4
{
	font-family: Fantasy;
	position: relative;
	z-index: 70;
	color: white;
	top: -670px;
	left: 610px;
}
.textuvod5
{
	font-family: Fantasy;
	position: relative;
	z-index: 70;
	color: white;
	top: -660px;
	left: 535px;
}
.textuvod6
{
	font-family: Fantasy;
	position: relative;
	z-index: 70;
	color: white;
	top: -650px;
	left: 650px;
}
.nadpis1
{
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px red;
	font-size: 80px;
	position: relative;
	z-index: 70;
	color: red;
	top: -1100px;
	left: 700px;
}
#fotogalerieobdelnikuvod1
{
	position: absolute;
	width: 800px;
	height: 440px;
	top: 120px;
	left: 50px;
	background:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	z-index: 60;
	border: 1px solid #777;
}
#fotogalerieobdelnikuvod2
{
	position: absolute;
	width: 760px;
	height: 400px;
	top: 140px;
	left: 70px;
	background-color: black;
	z-index: 70;
	border: 1px solid #777;
}
.thumbnail3
{
	position: absolute;
	left: 130px;
	top: 90px;
	z-index: 80;
}
.fotkar1
{
	position: absolute;
	top: 50px;
	border: 5px solid #000;
	left: 1000px;
	z-index: 2000;
}
.fotkar1:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.fotkar2
{
	position: absolute;
	border: 5px solid #000;
	top: 250px;
	left: 1000px;
	z-index: 2000;
}
.fotkar2:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.fotkar3
{
	position: absolute;
	border: 5px solid #000;
	top: 450px;
	left: 1000px;
	z-index: 2000;
}
.fotkar3:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.fotkar4
{
	position: absolute;
	border: 5px solid #000;
	top: 650px;
	left: 1000px;
	z-index: 2000;
}

.fotkar4:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.fotkar5
{
	position: absolute;
	border: 5px solid #000;
	top: 850px;
	left: 1000px;
	z-index: 2000;
}
.fotkar5:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.fotkar6
{
	position: absolute;
	border: 5px solid #000;
	top: 1050px;
	left: 1000px;
	z-index: 2000;
}
.fotkar6:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.jidelnicek1
{
	top: 200px;
	display: block;
	margin: center;
	position: relative;
	border: 5px solid #000;
	transition: 0.5s;
	margin-left: auto;
	margin-right: auto;

}
.jidelnicek1:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	z-index: 2000;
	transition: 0.5s;
}
.jidelnicek2
{
	top: 600px;
	left: center;
	display: block;
	position: relative;
	border: 5px solid #000;
	transition: 0.5s;
	margin-left: auto;
	margin-right: auto;
}
.jidelnicek2:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: 0.5s;
}

.jidelnicekbackgrounda
{
	position: absolute;
	z-index: -50;
	display: block;
	top: 0px;
	left: 40px;
	border: 5px solid #777;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	margin-left: auto;
	margin-right: auto;
}
.jidelnicekbackground2a
{
	position: absolute;
	z-index: -50;
	display: block;
	top: 1200px;
	left: 40px;
	border: 5px solid #777;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	margin-left: auto;
	margin-right: auto;
}
.jidelnicekbackground3a
{
	position: absolute;
	z-index: -50;
	display: block;
	top: 2400px;
	left: 40px;
	border: 5px solid #777;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	margin-left: auto;
	margin-right: auto;
}
.videorestauracejpg
{
	position: absolute;
	top: 20px;
	left: 130px;
	z-index: 120;
}
.videorestauracejpg2
{
	position: absolute;
	top: 30px;
	left: 130px;
	z-index: 90;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}
.video
{
	position: absolute;
	z-index: 120;
	left: 320px;
	top: 600px;
	border: 15px solid #000;
}
.formularvelkyobdelnik
{
	height: 700px;
	width: 400px;
	top: 300px;
	left: 280px;
	position: absolute;
	background-image: linear-gradient(to top, rgb(77, 77, 77), rgba(0,0,0,1));
	z-index: 200;
	border: 7px solid #000;
	border-radius: 35px;

}
.form-control
 {
	position: relative;
	top: -445px;
	left: 385px;
	height: 25px;
	width: 25px;
	color: white;
	z-index: 800;
  }
  .Nadpisformular 
  {
	  position: absolute;
	  left: 330px;
	  top: 400px;
	  color: white;
	  z-index: 600;
	  font-weight: bold;
	  font-size: 35px;
  }
  .Vlozitjmeno
  {
	  position: absolute;
	  left: 400px;
	  top: 500px;
	  z-index: 600;
	  content: "Jméno";

  }
  .Vlozitprijmeni
  {
	  position: absolute;
	  left: 400px;
	  top: 550px;
	  z-index: 600;
  }
  .Vlozitemail
  {
	  position: absolute;
	  left: 400px;
	  top: 640px;
	  z-index: 600;
  }
  .Vyberzeme
  {
	  position: absolute;
	  left: 400px;
	  top: 690px;
	  z-index: 600;
  }
  .Vlozitheslo
  {
	  position: absolute;
	  left: 400px;
	  top: 740px;
	  z-index: 600;
  }
  .Vlozithesloznovu
  {
	  position: absolute;
	  left: 400px;
	  top: 780px;
	  z-index: 600;
  }
  .form-control2
  {
	position: absolute;
	top: 840px;
	left: 395px;
	height: 25px;
	width: 25px;
	color: white;
	z-index: 600;
  }
  .Zasilatotazka
{
	position: absolute;
	color: white;
	z-index: 600;
	top: 845px;
	left: 435px;
	font-weight: bold;

}
.Odesilacitlacitko
{
  position: absolute;
  top: 890px;
  left: 400px;
  z-index: 600;
}

.formularvelkyobdelnik2
{
	height: 700px;
	width: 400px;
	top: 300px;
	left: 180px;
	position: absolute;
	background-image: linear-gradient(to top, rgb(77, 77, 77), rgba(0,0,0,1));
	z-index: 200;
	border: 7px solid #000;
	border-radius: 35px;

}
.mapaskoly
{
	position: absolute;
	top: 20px;
	left: 60px;
	width: 250px;
	height: 250px;
	border: 10px solid #000;
	border-radius: 35px;
}
.udaje
{
	position: absolute;
	text-align: center;
	top: 300px;
	left: 105px;
	z-index: 4000;
	color: white;
	font-weight: bold;
}
.textuvodchapesnekamo
{
	top: -40px;
	position: relative;
}